table.table-scroll{
	width: 100%;
}
table.table-scroll
, table.table-scroll tr
, table.table-scroll th
, table.table-scroll td{
	border: 1px solid #000000;
	padding: 0px 5px;
	font-size: 12px;
}
table.table-scroll .title{
	font-size: 20px;
}

