table.table-scroll
, table.table-scroll tr
, table.table-scroll th
, table.table-scroll td{
	border: 1px solid #000000;
	padding: 0px 5px;
	font-size: 12px;
}
table.table-scroll .col-name{
	width: 350px;
	max-width: 350px;
	min-width: 350px;
}
table.table-scroll .col-money{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}
table.table-scroll .col-volume{
	width: 200px;
	max-width: 200px;
	min-width: 200px;
}
table.table-scroll .col-number{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}
table.table-scroll .col-label{
	width: 150px;
	max-width: 150px;
	min-width: 150px;
}
table.table-scroll .col-action{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}