table.table-scroll
, table.table-scroll tr
, table.table-scroll th
, table.table-scroll td{
	border: 1px solid #000000;
	padding: 0px 5px;
	font-size: 12px;
}
table.table-scroll .col-component{
	width: 300px;
	max-width: 300px;
	min-width: 300px;
}
table.table-scroll .col-money{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}
table.table-scroll .col-number{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}
table.table-scroll .col-account{
	width: 200px;
	max-width: 200px;
	min-width: 200px;
}
table.table-scroll .col-description{
	width: 250px;
	max-width: 250px;
	min-width: 250px;
}
table.table-scroll .col-sub{
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}