table.table-scroll
, table.table-scroll tr
, table.table-scroll th
, table.table-scroll td{
	border: 1px solid #000000;
	padding: 0px 5px;
	font-size: 12px;
}
table.table-scroll .col-periode{
	width: 70px;
	max-width: 70px;
	min-width: 70px;
}
table.table-scroll .col-letter{
	width: 200px;
	max-width: 200px;
	min-width: 200px;
}
table.table-scroll .col-date{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}
table.table-scroll .col-name{
	width: 200px;
	max-width: 200px;
	min-width: 200px;
}
table.table-scroll .col-label{
	width: 200px;
	max-width: 200px;
	min-width: 200px;
}
table.table-scroll .col-money{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}
table.table-scroll .col-number{
	width: 150px;
	max-width: 150px;
	min-width: 150px;
}
table.table-scroll .col-address{
	width: 200px;
	max-width: 200px;
	min-width: 200px;
}
table.table-scroll .col-bank{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}
table.table-scroll .col-code{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}
table.table-scroll .col-tax{
	width: 50px;
	max-width: 50px;
	min-width: 50px;
}
table.table-scroll .col-tax-value{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}
table.table-scroll .col-action{
	width: 150px;
	max-width: 150px;
	min-width: 150px;
}

table.table-detail{
	margin: 3% 0;
	width: 100%;
}