table.table-scroll
, table.table-scroll tr
, table.table-scroll th
, table.table-scroll td{
	border: 1px solid #000000;
	padding: 0px 5px;
	font-size: 12px;
}

table.table-scroll .employee
, table.table-scroll .job-title{
	width: 150px;
	max-width: 150px;
	min-width: 150px;
}

.holiday{
	color: red;
}

table.table-scroll .number{
	width: 50px;
	max-width: 50px;
	min-width: 50px;
}

table.table-scroll .project{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}