table.table-scroll
, table.table-scroll tr
, table.table-scroll th
, table.table-scroll td{
	border: 1px solid #000000;
	padding: 0px 5px;
	font-size: 12px;
}
table.table-scroll .col-number
, table.table-scroll .col-date
, table.table-scroll .col-money
, table.table-scroll .col-action{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}
table.table-scroll .col-name
, table.table-scroll .col-account{
	width: 150px;
	max-width: 150px;
	min-width: 150px;
}
table.table-scroll .col-description{
	width: 200px;
	max-width: 200px;
	min-width: 200px;
}