
/***/
#loader-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/loader.gif') 
                /*url('images/ajax-loader.gif') */
                50% 50% 
                no-repeat;
}

#loader-modal {
    overflow: hidden;   
}
#loader-modal {
    display: block;
}

table thead th {
    text-align: center;
    vertical-align: middle;
}

.form-group.has-error .select2-selection {
    border-color: #dd4b39;
    box-shadow: none;
}

.medium-modal > .modal-dialog {
    width:70% !important;
}
.large-modal > .modal-dialog {
    width:100% !important;
    padding-left: 15px;
}

table.excel-report
, table.excel-report tr
, table.excel-report th
, table.excel-report td{
    border: 1px solid #000000;
    padding: 0px 5px;
    font-size: 12px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header{
    height: auto;
}

.icon-modal .fa{
    cursor: pointer;
}

.form-horizontal .control-label-left{
    margin-bottom: 0;
    padding-top: 7px;
    text-align: left;
    padding-left: 0;
}

.col-equal{
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 5px;
    float: left;
}
.nav-tabs-custom > .nav-tabs-orange > li.active{
    border-top-color: #f39c12;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    vertical-align: middle;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #fff;
}
.info-box-content{
    padding: 6px 10px;
}

iframe { overflow:hidden; }