table.table-scroll
, table.table-scroll tr
, table.table-scroll th
, table.table-scroll td{
	border: 1px solid #000000;
	padding: 0px 5px;
}

table.table-scroll .customer-name
, table.table-scroll .project-name
, table.table-scroll .money{
	width: 150px;
	max-width: 150px;
	min-width: 150px;
}

table.table-scroll .project-code{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
}

table.table-scroll .description{
	width: 200px;
	max-width: 200px;
	min-width: 200px;
}